.calendar {
    display: flex;
    flex-flow: row wrap;
    /*margin-top: 50px;*/
    /*padding-bottom: 60px;*/
}

.calendar > div {
    width: 100%;
}

.calendar-card {
    background-color: #fbfbfb;
    box-shadow: 0 0 11.96px 1.04px rgba(0, 0, 0, 0.08);
}

.time-td {
    width:80px;
    border-right: 1px solid rgba(205, 205, 205, 0.4);
    min-height: 80px;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.3);
    font: normal 14px "Fedra Sans";
    color: #949494;
}

.calendar-days {
    display: table;
    width: 100%;
    background-color:white;
    padding-left: 80px;
    border-bottom: 1px solid rgba(205, 205, 205, 0.4);
    flex-grow: 1;
    z-index: 5;
}


.calendar-days >div{
    display: table-cell;
}

.calendar-days >div:not(:last-child) {
    border-right:1px solid rgba(205, 205, 205, 0.4);;
}

.day-column {
    flex: 0 0 14.3%; }

.day-column > div {
    position: relative; }

.main-day {
    height: 75px;
    text-align: center;
    font: normal 0.8rem/75px "Fedra Sans";
    color: #949494;
    text-transform: inherit;
}

.main-day.active {
    font-weight: 600;
    color: #000;
}

.day-column {
    border-left: 1px solid rgba(205, 205, 205, 0.4); }

.date-event {
    background-color: #231f20;
    z-index: 1; }

.no-data-event {
    background-color: rgba(241, 241, 241, 0.3); }

.no-data-event:after {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 50%;*/
    /*height: 1px;*/
    /*z-index: 1;*/
    /*background-image: url("../../assets/img/line.svg");*/
    /*background-repeat:repeat;*/
    /*opacity:0.4;*/
}

.date-item {
    position: relative;
    /*min-height: 80px;*/
    /*display: flex;*/
    /*flex-flow: column;*/
    max-width: 142px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    text-align: left;
    padding: 6px 8px 6px 8px;
    border-bottom: 1px solid rgba(205, 205, 205, 0.4);
}

.date-item:hover {
    z-index: 3;
}

.date-item.half {
    margin-top: 40px;
    z-index: 2;
}

.date-item.half + .schedule_popup {
    margin-top: 40px;
}

.date-item:last-child {
    border-bottom:0;
}

.signed {
    background-color: #e8e7e7;
}

.white-bg {
    background-color: white;
}

.date-icon,
.date-inactivity {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
}

.date-inactivity {
    position: relative;
}


.date-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.date-icon .icon,
.date-inactivity .icon {
    font-size: 19px;
    color: #868585;
}

.date-icon--inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data-room {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font: normal 11px/1.9 "Fedra Sans";
    text-align: center;
    color: #231f20 !important;
    background-color: #fff;
}

.data-room.grey {
    background-color: #dbdada;
}

.data-room-lg {
    width: 26px;
    height: 26px;
    font-size: 15px;
    line-height: 1.6;
}

.static {
    position: static;
}


.date-event.signed .date-hours,
.date-event.signed .date-coach {
    color: #949494;
}

.date-event.signed .date-type{
    color: #231f20;
}

.date-event.signed .data-room {
    background-color: rgba(210, 209, 209, 0.8);
}

.date-hours {
    font: normal 12px/2 "Fedra Sans";
}

.date-hours-lg {
    font-size: 15px;
    line-height:  1.5;
    color: #9b9a9a;
}

.date-coach {
    margin-top: 3px;
    white-space: normal;
    font: normal 12px/1.5 "Fedra Sans";
    width: 70%;
}

.date-coach-lg {
    font-size: 15px;
    color: #9b9a9a;
}

.date-type {
    font: bold 11px/1.5 "Fedra Sans";
    width: 100%;
    word-break: break-word;
    white-space: normal;
}

.date-type-lg {
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 7px;
}

.date-event > * {
    color:#fff;
}

.date-event.signed > * {
    color: #868585;
}
button:disabled{
    cursor: not-allowed;
}

.calendar-main {
    flex:0 0 100%;
}

.calendar-main >table{
    width: 100%;
}

.date-wrapper {
    flex: 1;
    display: table;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(205, 205, 205, 0.4);
}

.day-main {
    display: table-cell;
    vertical-align: top;
    width: 14.2%;
    position: relative;
}

.schedule_popup {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20.24px 1.76px rgba(0, 0, 0, 0.08);
    padding: 19px 17px 20px 23px;
    min-width: 315px;
    position: absolute;
    top: -24px;
    left: 100%;
    z-index: 4;
    visibility: hidden;
    opacity:0;
}

.schedule_popup:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 17px;
    width: 0;
    height: 0;
    border-right: 9px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.schedule_popup_content {
    padding-right: 17px;
}

.close_popup {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 17px;
}

.close_popup .icon {
    font-size: 11px;
    color: #b0b0b0;
}

.data_info {
    margin-top: 30px;
}

.nodata_icon {
    margin-right: 10px;
}

.nodata_caption {
    font: bold 14px/1.3 "Fedra Sans";
    max-width: 48%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.date-item-wrap {
    position: relative;
    margin-bottom: 5px;
}

.date-item-wrap:hover .schedule_popup {
    visibility: visible;
    opacity:1;
}

.no-spaces-top {
    margin-top: 0;
}

.filter_icon {
    margin-top: 6px;
    margin-right: 28px;
}

.filter_icon .icon {
    color: #231f20;
}

.select-wrapper select {
    background-color: transparent;
}

@media only screen and (max-width: 1024px) {
    .main-schedule {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .view_container.no-spaces-top .row {
        margin: 0;
    }

    .view_container.no-spaces-top .column {
        padding: 0;
    }

    .schedule_filter {
        padding: 0 15px;
    }

    .schedule_filter .flex-container {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .filter_icon {
        width: 100%;
        text-align: center;
        margin: 0 0 30px;
    }

    .nav-tabs .nav-link {
        min-height: 64px !important;
    }
}