@import url(../fonts/icons/iconfont.css);
.change-title {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }

.lg-pod-title, .flex-wrapper, .flex-right, .flex-left, .btn-box, .flex-col-wrap, .owl-dots, .link-img, .soc-icon, .shair, .paje-wrap, .paje, .change-title-wrapper {
  display: flex;
  -ms-display: flex; }

.input_group select {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer; }

.btn span, .btn .icon, .link_btn img, .link_btn span, .pagination li {
  display: inline-block;
  vertical-align: middle; }

.input_group-linear, .top_image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.show {
  visibility: visible;
  opacity: 1; }

.row {
  max-width: 73.125rem;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.row .row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem; }

@media print, screen and (min-width: 40em) {
  .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem; } }

@media print, screen and (min-width: 64em) {
  .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem; } }

.row .row.collapse {
  margin-right: 0;
  margin-left: 0; }

.row.expanded {
  max-width: none; }

.row.expanded .row {
  margin-right: auto;
  margin-left: auto; }

.row:not(.expanded) .row {
  max-width: none; }

.row.collapse > .column, .row.collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.row.is-collapse-child,
.row.collapse > .column > .row,
.row.collapse > .columns > .row {
  margin-right: 0;
  margin-left: 0; }

.column, .columns {
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem; }

.column.row.row, .row.row.columns {
  display: block; }

.row .column.row.row, .row .row.row.columns {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

.small-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.small-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.small-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.small-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.small-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.small-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.small-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.small-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.small-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.small-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.small-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.small-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.small-up-1 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-1 > .column, .small-up-1 > .columns {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.small-up-2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-2 > .column, .small-up-2 > .columns {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.small-up-3 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-3 > .column, .small-up-3 > .columns {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.small-up-4 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-4 > .column, .small-up-4 > .columns {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.small-up-5 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-5 > .column, .small-up-5 > .columns {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.small-up-6 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-6 > .column, .small-up-6 > .columns {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.small-up-7 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-7 > .column, .small-up-7 > .columns {
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

.small-up-8 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.small-up-8 > .column, .small-up-8 > .columns {
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%; }

.small-collapse > .column, .small-collapse > .columns {
  padding-right: 0;
  padding-left: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem; }

@media print, screen and (min-width: 40em) {
  .medium-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .medium-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .medium-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .medium-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .medium-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .medium-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .medium-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .medium-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .medium-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .medium-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .medium-up-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .medium-up-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .medium-up-3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-up-4 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .medium-up-5 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .medium-up-6 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-up-7 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }
  .medium-up-8 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%; } }

@media print, screen and (min-width: 40em) and (min-width: 40em) {
  .medium-expand {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px; } }

.row.medium-unstack > .column, .row.medium-unstack > .columns {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

@media print, screen and (min-width: 40em) {
  .row.medium-unstack > .column, .row.medium-unstack > .columns {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px; } }

@media print, screen and (min-width: 40em) {
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }

@media print, screen and (min-width: 64em) {
  .large-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .large-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .large-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .large-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .large-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .large-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .large-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .large-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .large-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .large-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .large-up-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-1 > .column, .large-up-1 > .columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .large-up-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-2 > .column, .large-up-2 > .columns {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .large-up-3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-3 > .column, .large-up-3 > .columns {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-up-4 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-4 > .column, .large-up-4 > .columns {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .large-up-5 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-5 > .column, .large-up-5 > .columns {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .large-up-6 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-6 > .column, .large-up-6 > .columns {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-up-7 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-7 > .column, .large-up-7 > .columns {
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }
  .large-up-8 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .large-up-8 > .column, .large-up-8 > .columns {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%; } }

@media print, screen and (min-width: 64em) and (min-width: 64em) {
  .large-expand {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px; } }

.row.large-unstack > .column, .row.large-unstack > .columns {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

@media print, screen and (min-width: 64em) {
  .row.large-unstack > .column, .row.large-unstack > .columns {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px; } }

@media print, screen and (min-width: 64em) {
  .large-collapse > .column, .large-collapse > .columns {
    padding-right: 0;
    padding-left: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }

.shrink {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%; }

.column-block {
  margin-bottom: 1.875rem; }

.column-block > :last-child {
  margin-bottom: 0; }

.align-right {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-center {
  -ms-flex-pack: center;
  justify-content: center; }

.align-justify {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.align-spaced {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.align-right.vertical.menu > li > a {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-center.vertical.menu > li > a {
  -ms-flex-pack: center;
  justify-content: center; }

.align-top {
  -ms-flex-align: start;
  align-items: flex-start; }

.align-self-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.align-bottom {
  -ms-flex-align: end;
  align-items: flex-end; }

.align-self-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.align-middle {
  -ms-flex-align: center;
  align-items: center; }

.align-self-middle {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.align-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.align-center-middle {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.small-order-1 {
  -ms-flex-order: 1;
  order: 1; }

.small-order-2 {
  -ms-flex-order: 2;
  order: 2; }

.small-order-3 {
  -ms-flex-order: 3;
  order: 3; }

.small-order-4 {
  -ms-flex-order: 4;
  order: 4; }

.small-order-5 {
  -ms-flex-order: 5;
  order: 5; }

.small-order-6 {
  -ms-flex-order: 6;
  order: 6; }

@media print, screen and (min-width: 40em) {
  .medium-order-1 {
    -ms-flex-order: 1;
    order: 1; }
  .medium-order-2 {
    -ms-flex-order: 2;
    order: 2; }
  .medium-order-3 {
    -ms-flex-order: 3;
    order: 3; }
  .medium-order-4 {
    -ms-flex-order: 4;
    order: 4; }
  .medium-order-5 {
    -ms-flex-order: 5;
    order: 5; }
  .medium-order-6 {
    -ms-flex-order: 6;
    order: 6; } }

@media print, screen and (min-width: 64em) {
  .large-order-1 {
    -ms-flex-order: 1;
    order: 1; }
  .large-order-2 {
    -ms-flex-order: 2;
    order: 2; }
  .large-order-3 {
    -ms-flex-order: 3;
    order: 3; }
  .large-order-4 {
    -ms-flex-order: 4;
    order: 4; }
  .large-order-5 {
    -ms-flex-order: 5;
    order: 5; }
  .large-order-6 {
    -ms-flex-order: 6;
    order: 6; } }

.flex-container {
  display: -ms-flexbox;
  display: flex; }

.flex-child-auto {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.flex-child-grow {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.flex-child-shrink {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

.flex-dir-row {
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-dir-row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-dir-column {
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-dir-column-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

@media print, screen and (min-width: 40em) {
  .medium-flex-container {
    display: -ms-flexbox;
    display: flex; }
  .medium-flex-child-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .medium-flex-child-grow {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .medium-flex-child-shrink {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .medium-flex-dir-row {
    -ms-flex-direction: row;
    flex-direction: row; }
  .medium-flex-dir-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .medium-flex-dir-column {
    -ms-flex-direction: column;
    flex-direction: column; }
  .medium-flex-dir-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media print, screen and (min-width: 64em) {
  .large-flex-container {
    display: -ms-flexbox;
    display: flex; }
  .large-flex-child-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .large-flex-child-grow {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  .large-flex-child-shrink {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .large-flex-dir-row {
    -ms-flex-direction: row;
    flex-direction: row; }
  .large-flex-dir-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .large-flex-dir-column {
    -ms-flex-direction: column;
    flex-direction: column; }
  .large-flex-dir-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%; }

body {
  margin: 0; }

h1 {
  font: 700 2.8125rem/1.2 "Fedra Sans";
  color: inherit;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    h1 {
      font-size: calc(30px + 15 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    h1 {
      font-size: 45px; } }

h2 {
  font: 500 2.1875rem/1 "Fedra Sans";
  color: #231f20;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    h2 {
      font-size: calc(25px + 10 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    h2 {
      font-size: 35px; } }

h3 {
  font: 500 1.4375rem/1.4 "Fedra Sans";
  color: #231f20;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    h3 {
      font-size: calc(18px + 5 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    h3 {
      font-size: 23px; } }

h4 {
  font: bold 1.125rem/1.3 "Fedra Sans";
  color: inherit;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    h4 {
      font-size: calc(15px + 3 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    h4 {
      font-size: 18px; } }

.sm-text {
  font: 500 1rem/1.5 "Fedra Sans";
  color: black;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    .sm-text {
      font-size: calc(16px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .sm-text {
      font-size: 16px; } }

.sm-md-text {
  font: 500 0.9375rem/1.5 "Fedra Sans";
  color: #606060;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    .sm-md-text {
      font-size: calc(15px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .sm-md-text {
      font-size: 15px; } }

.ex-sm-text {
  font: 500 0.875rem/1.5 "Fedra Sans";
  color: #949494;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    .ex-sm-text {
      font-size: calc(14px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .ex-sm-text {
      font-size: 14px; } }

.sm-title {
  font: 600 0.9375rem/1.3 "Fedra Sans";
  color: #606060;
  text-transform: inherit; }
  @media screen and (min-width: 1000px) {
    .sm-title {
      font-size: calc(15px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .sm-title {
      font-size: 15px; } }

.lg-pod-title {
  font: 500 1.0625rem/1.5 "Fedra Sans";
  color: #606060;
  text-transform: inherit;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (min-width: 1000px) {
    .lg-pod-title {
      font-size: calc(17px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .lg-pod-title {
      font-size: 17px; } }
  .lg-pod-title i {
    font-size: 20px;
    margin-right: 10px; }
  .lg-pod-title > span > span:first-child {
    font: 600 1.0625rem/1.5 "Fedra Sans";
    color: #606060;
    text-transform: inherit; }
  .lg-pod-title > span > span {
    font: 700 1.0625rem/1.5 "Fedra Sans";
    color: #606060;
    text-transform: inherit; }

.flex-right {
  flex: auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.flex-left {
  flex: auto;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn-box {
  height: 210px;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-col-wrap {
  flex-flow: column nowrap;
  height: 100%; }

.title-wrapper {
  padding: 75px 0;
  text-align: center; }

.btn-wrapper {
  padding: 75px 0 100px;
  text-align: center; }

.owl-dots {
  position: absolute;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .owl-dots > .owl-dot {
    outline: -webkit-focus-ring-color auto 0px !important;
    border: 0px !important;
    background-color: #fff !important;
    opacity: 0.4;
    height: 9px;
    width: 9px;
    border-radius: 60px;
    padding-right: 12px;
    margin-right: 12px; }
    .owl-dots > .owl-dot.active {
      opacity: 0.8;
      width: 13px;
      height: 13px; }

.liner-element-bottom {
  position: absolute;
  bottom: 96px;
  width: 50%;
  height: 50%;
  z-index: 1;
  border-bottom: 1px solid #949494;
  border-right: 1px solid #949494;
  opacity: 0.2; }

.liner-element-top {
  position: relative; }
  .liner-element-top::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: calc(100% - 80px);
    height: 40px;
    margin: 0 40px;
    z-index: 1;
    border: 1px solid #949494;
    border-bottom: 0;
    opacity: 0.2; }

.box-shadoy {
  background: linear-gradient(#fff, #e9eaea);
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -3; }

.colums-padding {
  padding: 15px; }
  .colums-padding:nth-child(-n+3) {
    padding-top: 0px; }

.column.padding-blok-top:nth-child(-n+3) {
  padding-top: 0px; }

.relative-wrapp {
  position: relative; }

.link-item {
  color: #606060;
  text-align: center;
  flex: 1 0 auto; }
  .link-item > .btn {
    margin-bottom: 60px !important; }

.link-img {
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%; }
  .link-img img {
    width: 100%;
    height: 100%; }

.link-name {
  position: absolute;
  bottom: 0; }
  .link-name > .sm-title {
    min-width: 125px;
    padding: 11px 17px 8px;
    background-color: #f6f6f6; }
  .link-name > .date {
    min-width: 125px;
    margin: 0;
    padding: 11px 17px 08px;
    background-color: #fafafa; }

.soc-icon {
  margin: 0 10px; }
  .soc-icon img {
    margin: 0 10px; }
  .soc-icon:last-child {
    margin-right: 0; }

.cover {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-left: 40px; }

.black-team {
  background-color: #373434;
  padding: 80px 0 50px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.shair {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 70px;
  height: 47px;
  width: 47px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 20px; }
  .shair i {
    line-height: 0.7; }

.padding-blok-bottom {
  padding-bottom: 80px; }

.padding-blok-top {
  padding-top: 80px; }

.paje-wrap {
  margin: 85px 0 100px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.paje {
  height: 38px;
  color: #949494;
  width: 38px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .paje.active {
    background-color: #231f20; }

.trainers-top-position {
  margin-top: -240px; }

.change-title-wrapper {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 20.24px 1.76px rgba(0, 0, 0, 0.08);
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px; }

.change-title {
  text-align: center;
  font: 500 1.125rem/1 "Fedra Sans";
  color: #231f20;
  text-transform: inherit;
  padding: 33px;
  flex: auto;
  position: relative; }
  @media screen and (min-width: 1000px) {
    .change-title {
      font-size: calc(18px + 0 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .change-title {
      font-size: 18px; } }
  .change-title:last-child::after {
    display: none; }
  .change-title::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20px;
    width: 1px;
    bottom: 0;
    margin: auto;
    right: -1px;
    background-color: #aaa9a9; }

.change {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .change.active {
    color: #fff;
    background-color: #231f20;
    font-weight: 500px; }
    .change.active::after {
      display: none; }

.show {
  margin-top: 0; }

.relative {
  position: relative; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-white {
  color: #fff; }

.inherit {
  text-transform: inherit; }

.clipped {
  overflow: hidden; }

.clip {
  -webkit-overflow-scrolling: hidden;
  overflow: hidden; }

.transparent {
  background-color: transparent; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-Light.woff2") format("woff2"), url("../fonts/FedraSansArm-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-LightItalic.woff2") format("woff2"), url("../fonts/FedraSansArm-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-Medium.woff2") format("woff2"), url("../fonts/FedraSansArm-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-MediumItalic.woff2") format("woff2"), url("../fonts/FedraSansArm-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-Bold.woff2") format("woff2"), url("../fonts/FedraSansArm-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-BoldItalic.woff2") format("woff2"), url("../fonts/FedraSansArm-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Fedra Sans";
  src: url("../fonts/FedraSansArm-DemiItalic.woff2") format("woff2"), url("../fonts/FedraSansArm-DemiItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Fedra Sans Book";
  src: url("../fonts/FedraSansArm-Book.woff2") format("woff2"), url("../fonts/FedraSansArm-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Fedra Sans Book";
  src: url("../fonts/FedraSansArm-BookItalic.woff2") format("woff2"), url("../fonts/FedraSansArm-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Fedra Sans Demi";
  src: url("../fonts/FedraSansArm-Demi.woff2") format("woff2"), url("../fonts/FedraSansArm-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.hide {
  display: none; }

.no-spaces,
.row .row.no-spaces {
  margin: 0; }

.view_container {
  margin: 40px 0 50px; }

.btn {
  display: inline-block;
  font: 700 1.125rem/1 "Fedra Sans";
  color: #fff;
  text-transform: inherit;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #231f20;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
  min-width: 390px;
  padding: 32px 25px; }
  @media screen and (min-width: 1000px) {
    .btn {
      font-size: calc(15px + 3 * ((100vw - 1000px) / -233)); } }
  @media screen and (min-width: 767px) {
    .btn {
      font-size: 18px; } }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 11px;
    border: 1px solid rgba(255, 255, 255, 0.35); }
  .btn:hover {
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.4); }
  .btn.res {
    min-width: 100%;
    width: 100%;
    margin: 30px 0px; }
  .btn.white {
    background-color: #fff;
    color: #606060; }
    .btn.white::after {
      border: 1px solid #d7d7d7; }
  .btn span {
    padding: 0 15px; }
  .btn .icon {
    font-size: 16px; }
  .btn .icon-searching {
    font-size: 22px; }

.more_controls {
  margin: 57px 0 100px; }

.shadow_layer {
  position: relative; }
  .shadow_layer:after {
    content: "";
    background: linear-gradient(#fff, #e9eaea);
    position: absolute;
    height: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3; }

.box_spaced-bottom-50 {
  padding-bottom: 50px; }

.top_border_line {
  height: 37px;
  margin: 0 45px;
  z-index: 1;
  border: 1px solid #949494;
  border-bottom: 0;
  opacity: 0.2; }

.content_img {
  width: 100%; }

.link_btn img {
  margin-right: 10px; }

.link_btn span {
  font: bold 0.875rem/1 "Fedra Sans";
  color: #231f20;
  text-transform: inherit;
  position: relative;
  top: -2px; }

.grey-63 {
  color: #636363; }

.user_data_container {
  background-color: #fff;
  width: 100%;
  height: 100%; }

.application_form {
  margin-bottom: 100px; }
  .application_form:last-child {
    margin-bottom: 0; }

.input_group {
  position: relative;
  width: 100%;
  margin-bottom: 45px; }
  .input_group input {
    font: 1.0625rem/2 "Fedra Sans Book";
    color: #606060;
    padding: 0 10px 0 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e1e1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .input_group input::-webkit-input-placeholder {
      font: 1.0625rem/2 "Fedra Sans Book";
      color: #606060; }
    .input_group input:-moz-placeholder {
      font: 1.0625rem/2 "Fedra Sans Book";
      color: #606060; }
    .input_group input::-moz-placeholder {
      font: 1.0625rem/2 "Fedra Sans Book";
      color: #606060; }
    .input_group input:-ms-input-placeholder {
      font: 1.0625rem/2 "Fedra Sans Book";
      color: #606060; }
    .input_group input:focus {
      outline: 0; }
  .input_group textarea {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    font: 1.0625rem/1.4 "Fedra Sans Book";
    color: #606060;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    resize: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    border-bottom: 1px solid #e5e1e1;
    min-height: 82px;
    width: 100%;
    padding: 5px 0;
    margin-top: 10px; }
    .input_group textarea ~ .bar:before,
    .input_group textarea ~ .bar:after {
      bottom: 3px; }
    @media only screen and (max-width: 767px) {
      .input_group textarea {
        min-height: 100px !important; } }
  .input_group select {
    font: 1.0625rem/1.4 "Fedra Sans Book";
    color: #606060;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #e5e1e1;
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0 25px 12px 0; }
    .input_group select::-ms-expand {
      display: none; }
    @media only screen and (max-width: 767px) {
      .input_group select {
        font-size: 14px;
        line-height: 21px; } }
  .input_group label {
    font: 1.0625rem/1.8 "Fedra Sans Book";
    color: #606060;
    position: absolute;
    pointer-events: none;
    left: 1px;
    top: -7px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .input_group label span {
      margin-left: 6px; }
    @media only screen and (max-width: 767px) {
      .input_group label {
        font-size: 14px;
        line-height: 21px;
        max-width: 99%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; } }
  .input_group textarea ~ label {
    max-width: 80%; }
  .input_group input:focus ~ label,
  .input_group textarea:focus ~ label {
    top: -22px;
    font-size: 13.5px; }
  .input_group .valid input:valid ~ label {
    top: -22px;
    font-size: 13.5px;
    color: #a6bfd3; }
  .input_group .valid input:valid ~ .bar:after {
    height: 1px; }
  .input_group input:focus ~ .bar:after,
  .input_group textarea:focus ~ .bar:after,
  .input_group select:focus ~ .bar:after {
    height: 1px; }
  .input_group .not_empty ~ label {
    top: -22px;
    font-size: 13.5px; }
  .input_group .not_empty ~ .bar:after {
    height: 1px; }
  .input_group .valid :required:invalid ~ label {
    top: -22px;
    font-size: 13.5px;
    color: red; }
  .input_group .valid :required:invalid ~ label {
    top: -22px;
    font-size: 13.5px;
    color: red; }
  .input_group .valid :required:invalid ~ .bar:after {
    height: 1px;
    background-color: red; }
  .input_group :disabled {
    background-color: transparent; }
  .input_group :disabled ~ label {
    pointer-events: none;
    opacity: 0.5; }
  @media only screen and (max-width: 767px) {
    .input_group input:focus ~ label,
    .input_group textarea:focus ~ label {
      top: -22px;
      font-size: 13.5px; }
    .input_group .valid:valid ~ label {
      top: -22px;
      font-size: 13.5px; } }
  .input_group .icon {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    color: #5c5c5c; }
    .input_group .icon.change_visibility {
      pointer-events: inherit;
      cursor: pointer; }

.select-wrapper {
  width: 100%;
  position: relative; }
  .select-wrapper:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #a7a7a7; }

.input_group-prefixed input,
.input_group-prefixed textarea,
.input_group-prefixed select {
  padding-right: 35px; }

.input_group-default {
  margin-bottom: 51px; }
  .input_group-default label {
    font: 500 1.125rem/1.8 "Fedra Sans";
    color: #606060;
    pointer-events: inherit;
    position: static;
    display: block;
    margin-bottom: 34px; }
    .input_group-default label span {
      font-family: "Fedra Sans Book"; }

.input_group-linear .input_group {
  margin-bottom: 0; }

.input_group-linear > label {
  font: 500 1.0625rem/1.8 "Fedra Sans";
  color: #606060;
  pointer-events: inherit;
  position: static;
  display: block;
  max-width: 100px;
  margin-right: 34px; }

.textarea-note {
  display: block;
  text-align: right;
  font: 1.0625rem/2 "Fedra Sans Book";
  color: #606060; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before,
.bar:after {
  content: '';
  height: 0;
  width: 100%;
  left: 0;
  bottom: 1px;
  position: absolute;
  background: #a6bfd3;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.input_group-selectbox:after {
  content: '';
  position: absolute;
  top: 11rem;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #797979; }

.form_submit {
  margin: 67px 0 49px; }

.minus_positioned {
  position: relative;
  z-index: 5;
  margin-top: -265px;
  padding-bottom: 105px; }

.top_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  min-height: 265px;
  padding: 105px 0 0;
  margin-left: 40px;
  padding-right: 40px; }
  .top_image > .row {
    width: 100%; }
  .top_image:after {
    content: '';
    font-size: 0;
    min-height: inherit; }

.pagination {
  padding: 0;
  margin: 0; }
  .pagination li {
    list-style: none; }
    .pagination li.selected {
      background-color: #231f20;
      text-align: center;
      min-width: 40px;
      height: 40px;
      line-height: 40px; }
      .pagination li.selected a {
        color: #fff; }
  .pagination a {
    font: 1.03875rem/1.8 "Fedra Sans Book";
    color: #929292;
    outline: 0;
    cursor: pointer;
    padding: 0 17px; }

.link_block {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px; }

.spaced_wrapper {
  margin: 99px 0 50px; }
