@import "../fonts/icons/iconfont.css";
@import "utils/module";
@import "core/grid";
@import "core/core";
@import "core/typography";
@import "core/helpers";

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-Light.woff2') format('woff2'),
    url('../fonts/FedraSansArm-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-LightItalic.woff2') format('woff2'),
    url('../fonts/FedraSansArm-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-Medium.woff2') format('woff2'),
    url('../fonts/FedraSansArm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-MediumItalic.woff2') format('woff2'),
    url('../fonts/FedraSansArm-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-Bold.woff2') format('woff2'),
    url('../fonts/FedraSansArm-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-BoldItalic.woff2') format('woff2'),
    url('../fonts/FedraSansArm-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $baseFontFamily;
    src: url('../fonts/FedraSansArm-DemiItalic.woff2') format('woff2'),
    url('../fonts/FedraSansArm-DemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $FedraSansArmBook;
    src: url('../fonts/FedraSansArm-Book.woff2') format('woff2'),
    url('../fonts/FedraSansArm-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $FedraSansArmBook;
    src: url('../fonts/FedraSansArm-BookItalic.woff2') format('woff2'),
    url('../fonts/FedraSansArm-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $FedraSansArmDemi;
    src: url('../fonts/FedraSansArm-Demi.woff2') format('woff2'),
    url('../fonts/FedraSansArm-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $Roboto;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hide {
    display: none;
}

.no-spaces,
.row .row.no-spaces {
    margin:0;
}

.view_container {
    margin: 40px 0 50px;
}

.btn {
    display: inline-block;
    @include font(18,1, $whiteColor, 700, inherit);
    @include fluid-font(1000px, 767px, 15px, 18px);
    @include transition (all,0.2s,ease);
    background-color:$primaryColor;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border:0;
    outline: 0;
    cursor: pointer;
    position: relative;
    min-width: 390px;
    padding: 32px 25px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 11px;
        border: 1px solid rgba(255, 255, 255, 0.35);
    }

    &:hover{
        box-shadow: 0 0 31px rgba(0, 0, 0, 0.4);
    }

    &.res {
        min-width:100%;
        width: 100%;
        margin:30px 0px;
    }

    &.white {
        background-color: $whiteColor;
        color: $grey-hard;

        &::after {
            border: 1px solid #d7d7d7;
        }
    }

    span {
        @extend %inline-middle;
        padding: 0 15px;
    }

    .icon {
        @extend %inline-middle;
        font-size: 16px;
    }

    .icon-searching {
        font-size: 22px;
    }
}

.more_controls {
    margin: 57px 0 100px;
}

.shadow_layer {
    position: relative;

    &:after {
        content: "";
        background: linear-gradient(#fff, #e9eaea);
        position: absolute;
        height: 30%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -3;
    }
}

.box_spaced-bottom-50 {
    padding-bottom: 50px;
}

.top_border_line {
    height: 37px;
    margin: 0 45px;
    z-index: 1;
    border: 1px solid #949494;
    border-bottom: 0;
    opacity: 0.2;
}

.content_img {
    width: 100%;
}

.link_btn {

    img {
        @extend %inline-middle;
        margin-right: 10px;
    }

    span {
        @extend %inline-middle;
        @include font(14, 1, #231f20, bold, inherit);
        position: relative;
        top: -2px;
    }
}

.grey-63 {
    color: #636363;
}

.user_data_container {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.application_form {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

.input_group {
    position: relative;
    width: 100%;
    margin-bottom: 45px;

    input {
        @include font(17, 2, $inputColor, 0, 0, $FedraSansArmBook);
        padding: 0 10px 0 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $inputBorderColor;
        @include transition(all,0.3s,ease-out);

        @include placeholder {
            @include font(17, 2, $inputColor, 0, 0, $FedraSansArmBook);
        }

        &:focus {
            outline: 0;
        }
    }

    textarea {
        @include transition(all,0.25s,ease-out);
        @include font(17, 1.4, $inputColor, 0, 0, $FedraSansArmBook);
        background-color: transparent;
        border-radius: 0;
        outline: none;
        resize: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        overflow: auto;
        border-bottom: 1px solid $inputBorderColor;
        min-height: 82px;
        width: 100%;
        padding: 5px 0;
        margin-top: 10px;

        & ~ .bar:before,
        & ~ .bar:after {
            bottom: 3px;
        }

        @include media(mobile){
            min-height: 100px !important;
        }
    }

    select {
        @include font(17, 1.4, $inputColor, 0, 0, $FedraSansArmBook);
        border:0;
        outline:0;
        border-bottom: 1px solid $inputBorderColor;
        appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        @extend %user-cursor;
        width: 100%;
        padding: 0 25px 12px 0;

        &::-ms-expand{display:none;}

        @include media(mobile){
            font-size: 14px;
            line-height: 21px;
        }
    }

    label {
        @include font(17, 1.8, $inputColor, 0, 0, $FedraSansArmBook);
        position:absolute;
        pointer-events:none;
        left: 1px;
        top: -7px;
        @include transition(all,.2s,ease-out);

        span {
            margin-left: 6px;
        }

        @include media(mobile){
            font-size: 14px;
            line-height: 21px;
            max-width: 99%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    textarea ~ label {
        max-width: 80%;
    }

    input:focus ~ label,
    textarea:focus ~ label {
        top: -22px;
        font-size: 13.5px;
    }

    .valid input:valid ~ label {
        top: -22px;
        font-size: 13.5px;
        color: $validColor;
    }

    .valid input:valid ~ .bar:after {
        height: 1px;
    }

    input:focus ~ .bar:after,
    textarea:focus ~ .bar:after,
    select:focus ~ .bar:after {
        height: 1px;
    }

    .not_empty ~ label {
        top: -22px;
        font-size: 13.5px;
    }

    .not_empty ~ .bar:after {
        height: 1px;
    }

    .valid :required:invalid ~ label {
        top: -22px;
        font-size: 13.5px;
        color: red;
    }

    .valid :required:invalid ~ label {
        top: -22px;
        font-size: 13.5px;
        color: red;
    }

    .valid :required:invalid ~ .bar:after {
        height: 1px;
        background-color: red;
    }

    //select:required:invalid ~ .bar:after {
    //    height: 1px;
    //    background-color: red;
    //}

    :disabled {
        background-color: transparent;
    }

    :disabled ~ label {
        pointer-events: none;
        opacity: 0.5;
    }

    @include media(mobile){
        input:focus ~ label,
        textarea:focus ~ label {
            top: -22px;
            font-size: 13.5px;
        }

        .valid:valid ~ label {
            top: -22px;
            font-size: 13.5px;
        }
    }

    .icon {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        color: #5c5c5c;

        &.change_visibility {
            pointer-events: inherit;
            cursor: pointer;
        }
    }
}

.select-wrapper {
    width: 100%;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #a7a7a7;
    }
}

.input_group-prefixed {
    input,
    textarea,
    select {
        padding-right: 35px;
    }
}

.input_group-default {
    margin-bottom: 51px;

    label {
        @include font(18, 1.8, #606060, 500, 0);
        pointer-events: inherit;
        position: static;
        display: block;
        margin-bottom: 34px;

        span {
            font-family: $FedraSansArmBook;
        }
    }
}

.input_group-linear {
    @extend %flex;

    .input_group {
        margin-bottom: 0;
    }

    > label {
        @include font(17, 1.8, #606060, 500, 0);
        pointer-events: inherit;
        position: static;
        display: block;
        max-width: 100px;
        margin-right: 34px;
    }
}

.textarea-note {
    display: block;
    text-align: right;
    @include font(17, 2, $inputColor, 0, 0, $FedraSansArmBook);
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 0;
    width: 100%;
    left: 0;
    bottom: 1px;
    position: absolute;
    background: $validColor;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input_group-selectbox {
    //margin: 30rem 0 0;

    &:after {
        content: '';
        position: absolute;
        top:11rem;
        right: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #797979;
    }
}

.form_submit {
    margin: 67px 0 49px;
}

.minus_positioned {
    position: relative;
    z-index: 5;
    margin-top: -265px;
    padding-bottom: 105px;
}

.top_image {
    @extend %flex;
    @include background_args(cover, center, no-repeat);
    position: relative;
    z-index: 5;
    min-height: 265px;
    padding: 105px 0 0;
    margin-left: 40px;
    padding-right: 40px;

    > .row {
        width: 100%;
    }

    &:after {
        content: '';
        font-size: 0;
        min-height: inherit;
    }
}


.pagination {
    padding: 0;
    margin: 0;

    li {
        @extend %inline-middle;
        list-style: none;

        &.selected {
            background-color: #231f20;
            text-align: center;
            min-width: 40px;
            height: 40px;
            line-height: 40px;

            a {
                color: #fff;
            }
        }
    }

    a {
        @include font(16.62, 1.8, #929292, 0, 0, $FedraSansArmBook);
        outline: 0;
        cursor: pointer;
        padding: 0 17px;
    }
}

.link_block {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}

.spaced_wrapper {
    margin: 99px 0 50px;
}