.sticky-table {
  height: 718px; }

.sticky_table_wrapper {
  display: none;
  width: 100%;
  max-height: 718px;
  height: 100%; }

.sticky-table .sticky-table-cell {
  min-height: 80px;
  padding: 3px; }

.sticky-table-x-wrapper .sticky-table-row {
  border-bottom: 1px solid #e9e9e9; }

.sticky-table-x-wrapper .sticky-table-cell {
  border-left: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  min-width: 161px !important; }

.sticky-table-corner .sticky-table-cell {
  width: 72px;
  font-size: 0; }
  .sticky-table-corner .sticky-table-cell .main-day {
    font-size: 0; }

.sticky-table-cell {
  font: 1rem/80px "Fedra Sans Book";
  color: #949494;
  background-color: #fbfbfb;
  text-align: center; }

.sticky-table-header-wrapper {
  border-bottom: 1px solid #e9e9e9; }
  .sticky-table-header-wrapper .sticky-table-cell {
    background-color: white;
    border-left: 1px solid #e9e9e9;
    border-right: 0 !important; }

.sticky-table-column .sticky-table-cell {
  font-size: 14px;
  width: 72px;
  padding: 0 .75rem; }

@media only screen and (max-width: 1024px) {
  .sticky_table_wrapper {
    display: block; } }

@media only screen and (max-width: 767px) {
  .sticky-table {
    height: 97vh; }
  .sticky_table_wrapper {
    max-height: 672px; }
  .sticky-table-column .sticky-table-cell {
    font-size: 16px;
    width: 68px; } }
