.nav {
    display: flex;
    -ms-display: flex;
}

.nav {
    background-color: #f9f9f9;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.08);
    -webkit-justify-content: flex-start;
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    margin-bottom: 45px;
}

.nav-link {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.nav-link {
    display: flex;
    -ms-display: flex;
}

.nav-list {
    list-style: none;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.nav-list:last-child .nav-link:after {
    display: none;
}

.nav-link {
    background-color: white;
    border:0;
    outline:0;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font: normal 1.125rem/1 "Fedra Sans";
    color: #636363;
    text-transform: inherit;
    padding: 0 30px;
    min-height: 84px;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.nav-link:focus {
    outline: 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 1px;
    margin: auto 0;
    background-color: #aaa9a9;
}
.nav-link::last-child::after {
    display: none;

}
.nav-link.active {
    color: #fff;
    background-color: #231f20;
    font-weight: 500;
}
.nav-link.active .nav-link-img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.nav-link.active::after {
    display: none;
}

@media only screen and (max-width: 767px) {
    .nav-tabs .nav-link {
        font-size: 15px;
    }
}