@import "../../assets/scss/utils/module";

.view_title {
    padding: 30px;
    text-align: center;

    h1 {
        @include font(35, 1.5, #231f20, 0, 0, $FedraSansArmDemi);
        @include fluid-font(1000px, 767px, 23px, 35px);
    }
}
