.view_title {
  padding: 30px;
  text-align: center; }
  .view_title h1 {
    font: 2.1875rem/1.5 "Fedra Sans Demi";
    color: #231f20; }
    @media screen and (min-width: 1000px) {
      .view_title h1 {
        font-size: calc(23px + 12 * ((100vw - 1000px) / -233)); } }
    @media screen and (min-width: 767px) {
      .view_title h1 {
        font-size: 35px; } }
