@mixin flex_justify($justify_val){
    -webkit-justify-content: $justify_val;
    -webkit-box-pack: $justify_val;
    -moz-box-pack: $justify_val;
    -ms-flex-pack: $justify_val;
    justify-content: $justify_val;
}

@mixin flex_align_items($align_val){
    -webkit-align-items: $align_val;
    -webkit-box-align: $align_val;
    -moz-box-align: $align_val;
    -ms-flex-align: $align_val;
    align-items: $align_val;
}

@mixin background_img($back_repeat,$back_size,$back_pos_val){
    background-repeat: $back_repeat;
    -webkit-background-size: $back_size;
    -moz-background-size: $back_size;
    -o-background-size: $back_size;
    background-size: $back_size;
    background-position: $back_pos_val;
}



@mixin font($sizeValue, $line, $color, $weight, $textTransform, $fontFamily: $baseFontFamily) {

    @if $textTransform != 0 and $weight != 0 and $color != 0 {
        font: $weight ($sizeValue / 16) + rem/$line $fontFamily;
        color: $color;
        text-transform: $textTransform;
    }
    @else if $textTransform == 0 and $weight != 0 and $color == 0 {
        font: $weight ($sizeValue / 16) + rem/$line $fontFamily;
    }
    @else if $textTransform != 0 and $weight == 0 and $color == 0 {
        font: ($sizeValue / 16) + rem/$line $fontFamily;
        text-transform: $textTransform;
    }
    @else if $textTransform == 0 and $weight == 0 and $color != 0 {
        font: ($sizeValue / 16) + rem/$line $fontFamily;
        color: $color;
    }
    @else if $textTransform != 0 and $weight != 0 and $color == 0 {
        font: $weight ($sizeValue / 16) + rem/$line $fontFamily;
        text-transform: $textTransform;
    }
    @else if $textTransform != 0 and $weight == 0 and $color != 0 {
        font: ($sizeValue / 16) + rem/$line $fontFamily;
        color: $color;
        text-transform: $textTransform;
    }
    @else if $textTransform == 0 and $weight != 0 and $color != 0 {
        font: $weight ($sizeValue / 16) + rem/$line $fontFamily;
        color: $color;
    }
    @else {
        font: ($sizeValue / 16) + rem/$line $fontFamily;  
    }
}

@mixin fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size) {

    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}


@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}


@mixin flex-flow($flex_dir,$flex_wrap){
    -webkit-flex-flow: $flex_dir $flex_wrap;
    -moz-flex-flow: $flex_dir $flex_wrap;
    -ms-flex-flow: $flex_dir $flex_wrap;
    flex-flow: $flex_dir $flex_wrap;
}

@mixin flex($grow,$shrink,$basis){
    -webkit-flex: $grow $shrink $basis;
    -moz-flex: $grow $shrink $basis;
    -ms-flex: $grow $shrink $basis;
    flex: $grow $shrink $basis;
}

@mixin flex-basis($basis_num){
    -webkit-flex-basis: $basis_num;
    -moz-flex-basis: $basis_num;
    -ms-flex-basis: $basis_num;
    flex-basis: $basis_num;
}

@mixin order($order_num){
    -webkit-order: $order_num;
    -moz-order: $order_num;
    -ms-order: $order_num;
    order: $order_num;
}

@mixin justify($justify_val){
    -webkit-justify-content: $justify_val;
    -webkit-box-pack: $justify_val;
    -moz-box-pack: $justify_val;
    -ms-flex-pack: $justify_val;
    justify-content: $justify_val;
}

@mixin align-items($align_val){
    -webkit-align-items: $align_val;
    -webkit-box-align: $align_val;
    -moz-box-align: $align_val;
    -ms-flex-align: $align_val;
    align-items: $align_val;
}

@mixin align-content($align_content_val){
    -webkit-align-content: $align_content_val;
    -moz-align-content: $align_content_val;
    -ms-flex-line-pack: $align_content_val;
    align-content: $align_content_val;
}

@mixin align-self($align_self_val){
    -webkit-align-self: $align_self_val;
    -moz-align-self: $align_self_val;
    -ms-align-self: $align_self_val;
    align-self: $align_self_val;
}

@mixin transition($prop,$delay,$timing){
	-webkit-transition: $prop $delay $timing;
	-moz-transition: $prop $delay $timing;
	transition: $prop $delay $timing;
}


@mixin transform($transforms) {
	-moz-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
	@include transform(scale($scale));
} 

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
	-moz-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}


@mixin background_args($back_size: cover, $back_pos_val: center, $back_repeat: no-repeat){
    background-size: $back_size;
    background-position: $back_pos_val;
    background-repeat: $back_repeat;
}

@mixin background($imgUrl, $back_pos_val: center, $back_size: cover, $back_repeat: no-repeat, $color: transparent){
    background: $color url($imgUrl) $back_pos_val/$back_size $back_repeat;
}


@mixin columns($count) {
    -webkit-column-count: $count;
    -moz-column-count:    $count;
    column-count:         $count;
}

@mixin gap($gap) {
    -webkit-column-gap:   $gap;
    -moz-column-gap:      $gap;
    column-gap:           $gap;
}

@mixin center($position) {
    position: absolute;

    @if $position == 'vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }
    @else if $position == 'both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

$mobile: 767px;
$tablet:1024px;
$ipadPro: 1366px;

@mixin media($media) {
    @if $media == mobile {
        @media only screen and (max-width: $mobile ) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (max-width: $tablet) { @content; }
    }
    @else if $media == ipadPro {
        @media only screen
        and (min-width: $tablet)
        and (max-width: $ipad)
        and (-webkit-min-device-pixel-ratio: 1.5) { @content; }
    }
}
