$primaryColor: #231f20;
$grey-hard: #606060;
$grey-medium: #949494;
$grey-light: #acacac;
$whiteColor: #fff;
$blackColor: #000;
$green: #00e76e;

$inputColor: #606060;
$inputBorderColor: #e5e1e1;
$validColor: #a6bfd3;

$grey-fa: #fafafa;
$grey-fc: #fcfcfc;
$grey-f1: #f1f1f1;
$grey-e7: #e7e5e5;

$FedraSansArm: 'Fedra Sans';
$FedraSansArmDemi: 'Fedra Sans Demi';
$FedraSansArmBook: 'Fedra Sans Book';
$Roboto: 'Roboto';
$baseFontFamily: $FedraSansArm;
$baseFontSize : 16;

$rowWidth: 73.125rem;
$columnSpace: 0.9375rem;