@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?5cc75abf527b66259d045a47b57cdcf1?#iefix") format("embedded-opentype"),
url("iconfont.woff2?5cc75abf527b66259d045a47b57cdcf1") format("woff2"),
url("iconfont.woff?5cc75abf527b66259d045a47b57cdcf1") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: middle;
}

.icon-search:before {
	content: "\f101";
}
.icon-send-message:before {
	content: "\f102";
}
.icon-arrow-left:before {
	content: "\f103";
}
.icon-letter:before {
	content: "\f104";
}
.icon-done:before {
	content: "\f105";
}
.icon-lock:before {
	content: "\f106";
}
.icon-login-user:before {
	content: "\f107";
}
.icon-schedule:before {
	content: "\f108";
}
.icon-event:before {
	content: "\f109";
}
.icon-eye:before {
	content: "\f10a";
}
.icon-visible:before {
	content: "\f10b";
}
.icon-login:before {
	content: "\f10c";
}
.icon-hidden:before {
	content: "\f10d";
}
.icon-lang:before {
	content: "\f10e";
}
.icon-arrow-right:before {
	content: "\f10f";
}
.icon-searching:before {
	content: "\f110";
}
.icon-filter:before {
	content: "\f111";
}
.icon-pdf-file:before {
	content: "\f112";
}
.icon-cancel:before {
	content: "\f113";
}
