[data-color="black"]{
    color: #000;
}

[data-color="grey"]{
    color: $btnGrey;
}

[data-color="white"]{
    color: #fff;
}

[data-color="yellow"]{
    color: $primaryYellow;
}

[data-color="blue"]{
    color: $primaryBlue;
}

[data-color="green"]{
    color: $primaryGreen;
}

[data-bg-color="black"]{
    background-color: #000;
}

[data-bg-color="grey"]{
    background-color: $btnGrey;
}

[data-bg-color="white"]{
    background-color: #fff;
}

[data-bg-color="yellow"]{
    background-color: $primaryYellow;
}

[data-bg-color="blue"]{
    background-color: $primaryBlue;
}

[data-bg-color="green"] {
    background-color: $primaryGreen;
}


[data-hover-color="black"]{
    &:hover {
        color: #000;
    }
}

[data-hover-color="grey"]{
    &:hover {
        color: $btnGrey;
    }
}

[data-hover-color="white"]{
    &:hover {
        color: #fff;
    }
}

[data-hover-color="yellow"]{
    &:hover {
        color: $primaryYellow;
    }
}

[data-hover-color="blue"]{
    &:hover {
        background-color: $primaryBlue;
    }
}

[data-hover-color="green"] {
    &:hover {
        color: $primaryGreen;
    }
}

[data-hover-bg-color="black"]{
    &:hover {
        background-color: #000;
    }
}

[data-hover-bg-color="grey"]{
    &:hover {
        background-color: $btnGrey;
    }
}

[data-hover-bg-color="white"]{
    &:hover {
        background-color: #fff;
    }
}

[data-hover-bg-color="yellow"]{
    &:hover {
        background-color: $primaryYellow;
    }
}

[data-hover-bg-color="blue"]{
    &:hover {
        background-color: $primaryBlue;
    }
}

[data-hover-bg-color="green"] {
    &:hover {
        background-color: $primaryGreen;
    }
}