.flex-wrapper{
    @extend %flexBox;
}

.flex-right{
    flex: auto;
    @extend %flexBox;
    @include flex_align_items(center);
    @include flex_justify(flex-start);
}
.flex-left{
    flex: auto;
    @extend %flexBox;
    @include flex_justify(flex-end);
    @include flex_align_items(center);
}
.btn-box{
    height: 210px;
    @extend %flexBox;
    @include flex_justify(center);
    @include flex_align_items(center);
}
.flex-col-wrap{
    flex-flow: column nowrap;
    @extend %flexBox;
    height: 100%;
}

.title-wrapper{
    padding: 75px 0;
    text-align: center;
}
.btn-wrapper{
    padding: 75px 0 100px;
    text-align: center;
}
.owl-dots {
    position: absolute;
    @extend %flexBox;
    @include flex_align_items(center);
    >.owl-dot {
        outline: -webkit-focus-ring-color auto 0px !important;
        border: 0px !important;
        background-color: $whiteColor !important;
        opacity: 0.4;
        height: 9px;
        width: 9px;
        border-radius: 60px;
        padding-right: 12px;
        margin-right: 12px;
        &.active{
            opacity: 0.8;
            width: 13px;
            height: 13px;
        }
    }
}

.liner-element-bottom {
    position: absolute;
    bottom: 96px;
    width: 50%;
    height: 50%;
    z-index: 1;
    border-bottom: 1px solid $grey-medium;
    border-right: 1px solid $grey-medium;
    opacity: 0.2;
}

.liner-element-top {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: 0px;
        width: calc(100% - 80px);
        height: 40px;
        margin: 0 40px;
        z-index: 1;
        border: 1px solid $grey-medium;
        border-bottom: 0;
        opacity: 0.2;
    }
}

.box-shadoy{
    background: linear-gradient(#fff,#e9eaea );
    position: absolute;

    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -3;
}

.colums-padding{
    padding: 15px ;
    &:nth-child(-n+3){
        padding-top: 0px;
    }
}

.column.padding-blok-top:nth-child(-n+3){
    padding-top: 0px;
}

.relative-wrapp{
    position: relative;
}

.link-item {
    color:  $grey-hard;
    text-align: center;
    flex: 1 0 auto;
    &>.btn{
        margin-bottom: 60px !important;
    }
}

.link-img{
    @extend %flexBox;
    @include flex_justify(center);
    position: relative;
    width: 100%;
    // @include background_img(no-repeat,cover,center);
    img{
        width: 100%;
        height: 100%;
    }
}
.link-name{
    position: absolute;
    bottom: 0;
    &>.sm-title{
        min-width: 125px;
        padding: 11px 17px 8px;
        background-color: #f6f6f6;
    }
    &>.date{
        min-width: 125px;
        margin: 0;
        padding: 11px 17px 08px;
        background-color: #fafafa;
    }
}
.soc-icon{
    @extend %flexBox;
    margin: 0 10px ;
    img{
        margin:0 10px;
    }
    &:last-child{
        margin-right: 0;
    }
}

.cover{
    @include background_img(no-repeat,cover,center);
    margin-left: 40px;
}
.black-team{
    background-color: #373434;
    padding: 80px 0 50px;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.shair {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 70px;
    height: 47px;
    width: 47px;
    background-color: rgba(0, 0, 0, 0.7);
    @extend %flexBox;
    @include flex_align_items(center);
    @include flex_justify(center);
    color: $whiteColor;
    font-size: 20px;
    i{
        line-height: 0.7;
    }
}

.padding-blok-bottom{
    padding-bottom: 80px;
}

.padding-blok-top{
    padding-top: 80px;
}

.paje-wrap {
    margin: 85px 0 100px;
    @extend %flexBox;
    @include flex_align_items(center);
    @include flex_justify(center);
}
.paje {
    height: 38px;
    color: $grey-medium;
    width: 38px;
    @extend %flexBox;
    @include flex_align_items(center);
    @include flex_justify(center);
    &.active{
        background-color: $primaryColor;
    }
}


.trainers-top-position{
    margin-top: -240px;
}

.change-title-wrapper{
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20.24px 1.76px rgba(0, 0, 0, 0.08);
    @extend %flexBox;
    @include flex_justify(center);
    margin-bottom: 30px;
}
.change-title{
    @extend %userCursor;
    text-align: center;
    @include font(18,1, $primaryColor, 500, inherit);
    @include fluid-font(1000px, 767px, 18px, 18px);
    padding: 33px;
    flex: auto;
    position: relative;
    &:last-child{
        &::after{
            display: none;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        height: 20px;
        width: 1px;
        bottom: 0;
        margin: auto;
        right: -1px;
        background-color: #aaa9a9;
    }
}

.change{
    @include transition(all,0.5s,ease);

    &.active{
        color: $whiteColor;
        background-color: $primaryColor;
        font-weight: 500px;

        &::after{
            display: none;
        }
    }
}

.show {
    margin-top: 0;
    @extend %show;
}

.relative {
    position: relative;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.inherit {
    text-transform: inherit;
}

.clipped {
    overflow: hidden;
}

.clip {
    -webkit-overflow-scrolling: hidden;
    overflow: hidden;
}

.transparent {
    background-color: transparent;
}