h1 {
    @include font(45, 1.2, inherit, 700, inherit);
    @include fluid-font(1000px, 767px, 30px, 45px);
    //margin:  0 0  20px;
    //display: inline-block;
}


h2 {
    @include font(35, 1, $primaryColor, 500, inherit);
    @include fluid-font(1000px, 767px, 25px, 35px);
    //margin: 20px;
}


h3 {
    @include font(23, 1.4, $primaryColor, 500, inherit);
    @include fluid-font(1000px, 767px, 18px, 23px);
}


h4 {
    @include font(18, 1.3, inherit, bold, inherit);
    @include fluid-font(1000px, 767px, 15px, 18px);
    //margin: 20px 0;
}

.sm-text{
    @include font(16,1.5, black, 500, inherit);
    @include fluid-font(1000px, 767px, 16px, 16px);
}
.sm-md-text{
    @include font(15,1.5, $grey-hard, 500, inherit);
    @include fluid-font(1000px, 767px, 15px, 15px);
    //margin: 20px 0;
}
.ex-sm-text{
    @include font(14,1.5, $grey-medium, 500, inherit);
    @include fluid-font(1000px, 767px, 14px, 14px);
    //margin: 20px 0;
}

.sm-title{
    @include font(15, 1.3, $grey-hard, 600, inherit);
    @include fluid-font(1000px, 767px, 15px, 15px);
}
.lg-pod-title{
    @include font(17,1.5, $grey-hard, 500, inherit);
    @include fluid-font(1000px, 767px, 17px, 17px);
    @extend %flexBox;
    @include flex_align_items(center);
    @include flex_justify(center);

    i{
        font-size: 20px;
        margin-right: 10px;
    }

    &>span{
        &>span:first-child{
            @include font(17,1.5, $grey-hard, 600, inherit);
        }
        &>span{
            @include font(17,1.5, $grey-hard, 700, inherit);
        }
    }
}